<div class="part part-grey">

    <div class="row marketing">
       
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img" src="/images/makefg.png" alt="flask-image" style="width: 64px; height: 64px;">

            <h2>Genome Browser</h2>

            <p>Browse and keyword search all the genomics data from <a href="http://oadb.tsl.ac.uk">The Open Ash Dieback Project</a></p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img" src="/images/makefg-2.png" alt="microscope-image" style="width: 64px; height: 64px;">

            <h2>Blast</h2>

            <p>GeeFu incorporates the also excellent Ruby gem <a href="http://sequenceserver.com/">Sequence Server</a> as its BLAST server to allow sequence based search of the data</p>
        </div>
        <!-- /.col-lg-4 -->

         <div class="col-lg-4">
            <img class="img" src="/images/makefg-4.png" alt="node-image" style="width: 64px; height: 64px;">

            <h2>Wiki</h2>

            <p>Read the growing wiki of contributed gene information</p>
        </div>
    </div>



    <div class="row marketing">
        <div class="col-lg-4">
            <img class="img" src="/images/makefg-4.png" alt="node-image" style="width: 64px; height: 64px;">

            <h2>Open to everyone</h2>

            <p>Contribute new analyses and annotations of genes, proteins and more</p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img" src="/images/makefg.png" alt="flask-image" style="width: 64px; height: 64px;">

            <h2>Genome Visualisation</h2>

            <p>View and edit the genomic data with <a href="http://www.biodalliance.org">BioDalliance</a> and <a href="http://www.gmod.org/wiki/WebApollo">Web Appollo</a></p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img" src="/images/makefg-2.png" alt="microscope-image" style="width: 64px; height: 64px;">

            <h2>Github Storage</h2>

            <p>Modify and update the gene and protein models based</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>


        <p class="bigquote">"As you do this, you'll be given credit for every contribution you make, your details will be saved to our database and counted as a contributor on the project, if you choose to share."</p>


<div class="part">
    <div class="row marketing">
        <h2 class="centerit">Getting help</h2>
        <p class="centerit">Any questions, please contact <a href="mailto:oadb@tsl.ac.uk">oadb@tsl.ac.uk</a></p>
    </div>
</div>