<div class="part">

    <img class="img" src="/images/logo-circle.png" alt="logo-image" style="width: 128px; height: 128px;">

    <h1>GeeFu</h1>

    <p>Gee Fu is an application that holds Gene Feature data. It has been designed with the needs of researchers wanting
        to keep, share and annotate sequence and feature data. Gee Fu is a Ruby on Rails based RESTful web-service
        application that stores and serves sequence assembly and genome feature data on request.</p>

</div>


<%= render "pages/blerb" %>

